* {
  color: #282c34;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 20vmin;
  margin-top: 20px;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.input-search {
  margin-right: 15px;
}

.add-button {
  margin-right: 10px;
}

.presents-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gift-container {
  display: flex;
  flex-direction: column;
}
.check-container {
  margin: 25px 200px 0;
  display: flex;
}

.item {
  align-self: center;
}

.material-icons {
  transform: scale(0.8);
  margin: 20px;
  cursor: pointer;
  opacity: 0.5;
}

.material-icons:hover {
  opacity: 1;
}
